Lab-4/02_employee.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Employees">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="Employee" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name" type="xs:string"/>
                            <xs:element name="Address" type="xs:string"/>
                            <xs:element name="Phone" type="xs:string"/>
                            <xs:element name="Designation" type="xs:string"/>
                            <xs:element name="Salary" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>