Lab-4/03_book_validation.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Books">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="Book" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>

                            <!-- Name with first, middle, last -->
                            <xs:element name="Name">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="FirstName" type="xs:string"/>
                                        <xs:element name="MiddleName" type="xs:string"/>
                                        <xs:element name="LastName" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <!-- Multiple authors -->
                            <xs:element name="Author" type="xs:string" maxOccurs="unbounded"/>

                            <!-- Page number -->
                            <xs:element name="PageNo" type="xs:integer"/>

                            <!-- Price with max limit -->
                            <xs:element name="Price">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:maxInclusive value="1000"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

                        </xs:sequence>

                        <!-- ISBN attribute -->
                        <xs:attribute name="isbn" type="xs:string" use="required"/>

                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>